# Игнорировать файлы и директории, созданные операционной системой
.DS_Store
Thumbs.db

# Игнорировать виртуальное окружение Python (если используется)
venv/
env/

# Игнорировать файлы с расширением pycache
__pycache__/

# Игнорировать файлы с расширением .pyc
*.pyc

# Игнорировать сгенерированные файлы
*.pyo
*.pyd
*.so
*.egg-info
dist/
build/
*.egg

# Игнорировать файлы конфигурации редактора
.vscode/
.idea/

# Игнорировать файлы с личными данными и секретами
config.ini
secret_key.txt
